/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    padding: 10%;
}

header > .background {
    position: absolute;
    background-color: #0261a1;
    height: 6rem;
    width: 80%;
}

header > div > h1 {
    font-size: 400%;
    position: absolute;
    color: white;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}

header > div > img {
    padding-left: .5rem;
    padding-right: .2rem;
    padding-top: .6rem;
    vertical-align: middle;
}

#calc-demo {
    height: 0;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 75%;
}

#calc-demo > iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 73%;
}

/* images */

#marchant-calculator {
    float: left;
    margin: 1em;
    max-width: 12.5rem;
}

#marchant-calculator > img {
    max-width: 12rem;
}

figcaption {
    text-align: start;
    font-size: 80%;
    color: dimgray;
    word-wrap: break-word;
}

/* Add flags in front of list items which have an hreflang attribute */
a[hreflang=en]::before {
    background-image: url("../../media/flag-en.svg");
    background-size: 100%;
    display: inline-block;
    width: 1rem;
    height: .8rem;
    margin-right: .2rem;
    content: "";
}
a[hreflang=it]::before {
    background-image: url("../../media/flag-it.svg");
    background-size: 100%;
    display: inline-block;
    width: 1rem;
    height: .8rem;
    margin-right: .2rem;
    content: "";
}
a[hreflang=fr]::before {
    background-image: url("../../media/flag-fr.svg");
    background-size: 100%;
    display: inline-block;
    width: 1rem;
    height: .8rem;
    margin-right: .2rem;
    content: "";
}

small > a > img {
    vertical-align: middle;
}

footer {
    margin-top: 1rem;
    background: #0261a1;
}


/* text */



/* lists */
body > .navigation {
    margin-top: 8rem;
	width: 100%;
}

/* Add border and background color to navigation */
.navigation > nav {
	padding: 0.5rem;
	background-color: #e6e6e6;
    border-style: solid;
    border-width: .1rem;
    border-color: #0261a1;
}

/* Remove bulletpoints from list entries */
.navigation > nav > ul, li {
    list-style-type: none;
}

/* Add padding to nested list items */
.navigation > nav > ul ~ ul > li ~ li {
    padding-left: 1rem;
}

#ranking-best {
    counter-reset: best;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

#ranking-best > li:before {
    content: counter(best) ". ";
    counter-increment: best;
}

#ranking-worst {
    counter-reset: worst 79;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
#ranking-worst> li:before {
    content: counter(worst) ". ";
    counter-increment: worst -1;
}

/* table */



/* forms */

button {
    background-color: #0261a1;
    display: inline-block;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    color: white;
    border: .1rem transparent;
    box-shadow: 0 0 .1rem .1rem rgba(0, 0, 0, 0.15), 0 0 .2rem .2rem rgba(0, 0, 0, 0.1);
    border-radius: .2rem;
}

#search::before {
    background-image: url("../../media/icon-search.svg");
    background-repeat: no-repeat;
    float: left;
    display: inline-block;
    margin-right: .3rem;
    background-size: 100%;
    width: 1rem;
    height: 1rem;
    content: "";
}

#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}


.youtubeWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 1rem;
    height: 0;
}
.youtubeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}